body {
    display: block;
    text-align: center;
    color: #183B4B;
    margin-left: 0px;
    margin-right: 0px;
}

main {    
    margin-top: 32px;
    margin-left: 60px;
    margin-right: 60px;
}

h1 {
    margin-bottom: 0px; 
    font-size: 50px; 
    font-weight: 800;
}

h3 {
    margin-top: 3px; 
    margin-bottom: 32px; 
    font-weight: 300;
}

hr.custom-hr {
    border: none; /* Remove the default border */
    height: 1px; /* Set the desired thickness */
    background-color: #183B4B; /* Set the desired color */
    margin: 20px 0; /* Optional: Adjust the margin around the hr element */
}

section {    
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
}

section h2 {
    margin-bottom: 5px;
    font-size: xx-large;
}

.title-description {
    margin-top: 0px;
}

nav { /* bbl brand in navbar */
    margin-right: 2rem ;
    transition: .3s;
}
nav a:hover,
nav a.active {
    color: #183B4B;
}
nav a { /* Nabvar text */
    font-family: "Inter", sans-serif;
    color: #183B4B;
    font-weight: 300;
    text-decoration: none;
    margin: 0.8rem;
    font-size: medium;
}

a {
    text-decoration: none; /* Menghilangkan garis bawah */
    color: #183B4B; /* Warna biru tua */
}

/* Jika link dikunjungi */
a:visited {
    color: #183B4B; /* Tetap biru tua setelah dikunjungi */
}

/* Gaya saat link dihover */
a:hover {
    color: #5b98ba; /* Biru sedikit lebih terang saat dihover */
}

/* Gaya saat link diklik (aktif) */
a:active {
    color: #183B4B; /* Biru lebih gelap saat diklik */
}

/* Container with a fixed aspect ratio of 1:2 (width:height) */
.image-container {
    width: 100%; /* Set width to 100% of the parent container */
    aspect-ratio: 22 / 10; /* Set the aspect ratio to 1:2 */
    overflow: hidden; /* Hide any overflow */
    position: relative;
    margin: 10px 0; /* Add some margin between images */
}
  
/* Style the images to fit within the container */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
    position: absolute; /* Position the image absolutely within the container */
    top: 0;
    left: 0;
}

.card-img {
    width: 100%; /* Set width to 100% of the parent container */
    aspect-ratio: 2 / 1; /* Set the aspect ratio to 1:2 */
    overflow: hidden; /* Hide any overflow */
    position: relative;
    margin: 0px; /* Add some margin between images */
}
  
/* Style the images to fit within the container */
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
    position: absolute; /* Position the image absolutely within the container */
    object-position: left;
    top: 0;
    left: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 32px;
}

.card {
    width: 325px;
    /* background-color: #5b98ba; */
    background-color: #183B4B;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card-content {
    padding: 16px;
    text-align: start;
}

.card-content h3 {
    font-size: 28px;
    margin-top: 8px;
    color: white;
    margin-bottom: 0px;
}

.card-content p {
    margin-top: 3px;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.2;
}

.card-content .description {
    margin-top: 15px;
    margin-bottom: 12px;
    text-align: justify;
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        margin-left: 0px;
        margin-right: 0px;
    }

    main {
        margin-top: 32px;
        margin-left: 32px;
        margin-right: 32px;
    }

    h1 {
        font-size: x-large;
    }

    section h2 {
        font-size: large;
    }

    h3 {
        font-size: medium;
    }

    nav a {
        font-size: small;
    }

    .title-description {
        font-size: small;
    }

    section {    
        margin-top: 32px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card {
        height: 355px;
    }

    .card-content .title {
        font-size: large;
        font-weight: 800;
    }

    .card-content p {
        font-size: small;
    }

    .p-see-more {
        margin-top: 0px;
        margin-right: 20px;
        text-align: end;
        font-size: small;
    }
}

footer {
    background-color: #183B4B;
    position: relative;
    width: 100%;
    min-height: 250px;
    padding: 3rem 1rem;
    border: #183B4B;
}

.f-con {
    /* max-width: 1140px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
}

.col {
    min-width: 300px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 2rem;
}

.col .slogan {
    font-size: small;
}

.col .logo-position {
    display: flex;
    align-items: center;
}

.col .logo-position img {
    display: flex;
}

.col .logo-position p {
    font-weight: 600;
    margin-left: 18px;
    font-size: larger;
}

.col .logo {
    width: 100px;
    margin-bottom: 25px;
}

.col h3 {
    color: #5b98ba;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.col h3::after {
    content: '';
    height: 3px;
    width: 0px;
    background-color: #ffffff;
    position: absolute;
    top: 22px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.col h3:hover::after {
    width: 30px;
}

.col .social a i {
    color: #ffffff;
    margin-top: 1rem;
    transform: scale(1.5);
    margin-right: 32px;
    transition: 0.3s ease;
}

.col .social a i:hover {
    transform: scale(2.0);
    filter: grayscale(25);
}

.col .links a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 18px;
    position: relative;
    transition: 0.3s ease;
}

.col .links a:before {
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #5b98ba;
    transition: 0.5s ease;
    opacity: 0;
}

.col .links a:hover::before {
    opacity: 1;
}

.col .links a:hover {
    transform: translate();
    color: #5b98ba;
}

.col .contacts {
    display: grid;
}

.col .contact-details {
    margin: 0;
    display: inline-flex;
}

.col .contact-details i {
    margin-right: 25px;
    align-content: center;
}