body {
    display: block;
    text-align: center;
    margin-top: 32px;
    margin-left: 120px;
    margin-right: 120px;
}

h1 {
    text-align: center;
}

.circle_image {
    border-radius: 50%;
    width: 80px;
}

.single_img {
    height: 520px;
}

.article_content {
    font-size: large;
    margin-top: 32px;
    margin-left: 82px;
    margin-right: 82px;
    margin-bottom: 32px;
    text-align: justify;
}

/* Container with a fixed aspect ratio of 1:2 (width:height) */
.image-container {
    width: 100%; /* Set width to 100% of the parent container */
    aspect-ratio: 22 / 9; /* Set the aspect ratio to 1:2 */
    overflow: hidden; /* Hide any overflow */
    position: relative;
    margin: 10px 0; /* Add some margin between images */
  }
  
  /* Style the images to fit within the container */
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container */
    position: absolute; /* Position the image absolutely within the container */
    top: 0;
    left: 0;
}